  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="sign-up-content">
        <h2 class="form-title">Vertel ons over je bruiloft!</h2>
        <button id="weddingFormSwitch" class="submit">Ik heb een koppelcode</button>
        <form method="POST" id="weddingForm" class="signup-form">
            <input type="hidden" name="method" value="create" />
            <div id="weddingFormCreate">
                <div class="form-textbox">
                <label for="name">Jouw naam</label>
                <input type="text" name="me" />
            </div>

            <div class="form-textbox">
                <label for="email">Naam partner</label>
                <input type="text" name="partner" />
            </div>

            <div class="form-textbox">
                <label for="pass">Datum</label>
                <input type="text" name="date" placeholder="dd/mm/jjjj"/>
            </div>

            <div class="form-textbox">
                <input type="submit" name="submit" id="regWeddingButton" class="submit" value="Registreer bruiloft" />
            </div>
            </div>
            <div id="weddingFormLink" class="hidden">
                <div class="form-textbox">
                <label for="name">Koppelcode</label>
                <input type="text" name="linkingcode" />
            </div>

            <div class="form-textbox">
                <input type="submit" name="submit" id="regWeddingButton" class="submit" value="Koppel bruiloft" />
            </div>
            </div>
        
        </form>
    </div>
  </section>

