

  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="sign-up-content">
        <form method="POST" id="weddingForm" class="signup-form">
            <h2 class="form-title">Wie wil je uitnodigen?</h2>

            <div class="form-textbox">
                <label for="email">E-mailadres</label>
                <input type="email" name="email" id="email" />
            </div>

            <div class="form-textbox">
                <input type="submit" name="submit" id="regWeddingButton" class="submit" value="Nodig uit" />
            </div>
        </form>
    </div>
  </section>

