 
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  

  
  .sign-up-content {
    padding: 40px 60px 32px 60px;
    position: relative;
    z-index: 99; }
  
  input {
    border: solid 2px #ebebeb;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    font-family: Poppins;
    padding: 16px 30px 16px 140px; }
  
  .form-textbox {
    position: relative; }
    .form-textbox label {
      position: absolute;
      left: 28px;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      font-weight: 600;
      color: #888;
      font-size: 14px; }
  
  #name {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  
  #pass {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  
  #email {
    border: none;
    border-left: solid 2px #ebebeb;
    border-right: solid 2px #ebebeb; }
  
  #weddingFormSwitch {
    width: 100%;
    margin-bottom: 20px;
    background: #8e2c62;
  }
  
  
  
  .submit {
    background: #f30186;
    color: #FFF;
    border: none;
    margin-top: 50px;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 600;
    font-family: Poppins;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
    .submit:hover {
      background: #d6137e; }
  
  .loginhere {
    text-align: center;
    color: #888;
    margin-top: 63px; }
  
  .loginhere-link {
    color: #1da0f2;
    text-decoration: none; }
    .loginhere-link:hover {
      text-decoration: underline; }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset; }
  
  @media screen and (max-width: 575px) {
    .sign-up-content {
      padding: 40px 20px 32px 20px; }
  
    }
  @media screen and (max-width: 400px) {
    .form-textbox label {
      left: 15px; }
  
    input {
      padding: 16px 30px 16px 100px; } }
  